/* li:nth-child(odd) {
    color: lightgreen;
  }

li:nth-child(odd) {
    color: lightgreen;
  }

*{
    margin:0;
    padding:0;
  }
  
   div{
    background-color: orange;
  }

  .turuncu{
    background-color: #FFA500;
  }
  p.mavi{
    color:blue;
  }

  .btn[disabled] {
    color: orchid;
  }

  [name]{
    color: blue;
  }
 */
 a[href ^= "https"] {
    color: palegreen;
  }
